* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

:root {
    font-size: 20px;
}

body {
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.2;
}

main,
header,
figure,
nav,
div,
section,
article,
footer,
h1,
h2 {
    border: 2px solid black;
    margin: 5px;
    padding: 5px;
}

main {
    background-color: darkseagreen;
}

header {
    background-image: url('../assets/images/design1_image1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 400px;
}

a {
    display: block;
}

.container {
    position: relative;
    background-color: black;
    padding: 30px;
}

.container figure {
    position: absolute;
    right: 50px;
    top: -26.5px;
}

.container h2 {
    display: inline-block;
    vertical-align: top;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

nav {
    background-color: burlywood;
}

figure {
    background-color: aquamarine;
    display: inline-block;
}

section {
    background-color: cornflowerblue;
}

article {
    background-color: plum;
}

h1 {
    background-color: coral;
}

h2 {
    background-color: darkcyan;
}

footer {
    background-color: darkgrey;
}

img {
    height: 80px;
}