* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

:root {
    font-size: 20px;
}

body {
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.2;
}

main, header, figure, nav, div, section, article, footer, h1, h2 {
    border: 2px solid black;
    margin: 5px;
    padding: 5px;
}

main {
    background-color: darkseagreen;
}

header {
    background-color: yellowgreen;
}

div {
    /* position: relative; */
}

div figure {
    /* position: absolute;
    right: 2px;
    top: 0px; */
    object-fit: contain;
}

div h2 {
    display: inline-block;
    vertical-align: top;
}

nav {
    background-color: burlywood;
}

figure {
    background-color: aquamarine;
    display: inline-block;
}

section {
    background-color: cornflowerblue;
}

article {
    background-color: plum;
}

h1 {
    background-color: coral;
}

h2 {
    background-color: darkcyan;
}

footer {
    background-color: darkgrey;
}

img {
    height: 80px;
}

#logo {
}